apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bookapi-chart.fullname" . }}
  labels:
    app: {{ include "bookapi-chart.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "bookapi-chart.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "bookapi-chart.name" . }}
    spec:
      serviceAccountName: {{ include "bookapi-chart.serviceAccountName" . }}
      containers:
        - name: {{ include "bookapi-chart.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
          {{- if .Values.livenessProbe }}
          livenessProbe:
{{ toYaml .Values.livenessProbe | indent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
{{ toYaml .Values.readinessProbe | indent 12 }}
          {{- end }}